<h1 class="text-center">Predicting Location Data for <%= @hash[:lattitude] %>, <%= @hash[:longitude] %></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center">Time</th>
      <th class="text-center">Temp</th>
      <th class="text-center">Precip Intensity</th>
      <th class="text-center">Wind Direction</th>
      <th class="text-center">Wind Speed</th>
    </tr>
  </thead>

  <tbody>
    <% @hash[:predictions].each do |time, prediction| %>
      <tr>
        <td class="text-center"><%= prediction[:time] %></td>
        <td class="text-center"><%= prediction[:temp][:value] %></td>
        <td class="text-center"><%= prediction[:rain][:value] %></td>
        <td class="text-center"><%= prediction[:wind_direction][:value] %></td>
        <td class="text-center"><%= prediction[:wind_speed][:value] %></td>
      </tr>
    <% end %>
    <tr>
      <th class="text-center">Probability</th>
      <th class="text-center"><%= @hash[:predictions]["0"][:temp][:probability].to_f.round(4) %></th>
      <th class="text-center"><%= @hash[:predictions]["0"][:rain][:probability].to_f.round(4) %></th>
      <th class="text-center"><%= @hash[:predictions]["0"][:wind_direction][:probability].to_f.round(4) %></th>
      <th class="text-center"><%= @hash[:predictions]["0"][:wind_speed][:probability].to_f.round(4) %></th>
      </tr>
  </tbody>
</table>