<h1 class="text-center">Listing Location Data for <%= params[:location_id] %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center">Time</th>
      <th class="text-center">Temp</th>
      <th class="text-center">Precip Intensity</th>
      <th class="text-center">Wind Direction</th>
      <th class="text-center">Wind Speed</th>
    </tr>
  </thead>

  <tbody>
    <% @hash[:measurements].each do |measurement| %>
      <tr>
        <td class="text-center"><%= measurement[:time] %></td>
        <td class="text-center"><%= measurement[:temp] %></td>
        <td class="text-center"><%= measurement[:precip] %></td>
        <td class="text-center"><%= measurement[:wind_direction] %></td>
        <td class="text-center"><%= measurement[:wind_speed] %></td>
      </tr>
    <% end %>
  </tbody>
</table>