<p id="notice"><%= notice %></p>

<p>
  <strong>Temp:</strong>
  <%= @measurement.temp %>
</p>

<p>
  <strong>Percip intensity:</strong>
  <%= @measurement.percip_intensity %>
</p>

<p>
  <strong>Wind speed:</strong>
  <%= @measurement.wind_speed %>
</p>

<p>
  <strong>Wind direction:</strong>
  <%= @measurement.wind_direction %>
</p>

<p>
  <strong>Time:</strong>
  <%= @measurement.time %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
