<p id="notice"><%= notice %></p>

<h1><center>Listing Locations</center></h1>

<table border="1" cellspacing="0" style="width:100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @hash[:locations].each do |location| %>
      <tr>
        <td><center><%= location[:id] %></center></td>
        <td><center><%= location[:lat] %></center></td>
        <td><center><%= location[:lon] %></center></td>
        <td><center><%= location[:last_update] %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>